fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
bcrypt

langchain
langchain-community
langchain-core
langchain-qdrant
langchain-google-genai
langchain-huggingface

sentence-transformers
qdrant-client
pydantic
pypdf
pytest
